{% extends "base.html" %}

{% block main %}
<h3 class="shadow-sm p-3 mb-3 bg-white rounded">
{% if data['height'] == 0 %}
    Genesis Block
{% else %}
    Block {{ data['height'] }}
{% endif %}
</h3>
{% if data['height'] == 0 %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <center>
        <h3><a href="https://bitcoin.org/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a></h3>
        Satoshi Nakamoto<br>
        satoshin@gmx.com<br>
        www.bitcoin.org<br><br>
        </center>
            <p class="text-justify"><b>Abstract.</b> A purely peer-to-peer version of electronic cash would allow online
    payments to be sent directly from one party to another without going through a
    financial institution. Digital signatures provide part of the solution, but the main
    benefits are lost if a trusted third party is still required to prevent double-spending.
    We propose a solution to the double-spending problem using a peer-to-peer network.
    The network timestamps transactions by hashing them into an ongoing chain of
    hash-based proof-of-work, forming a record that cannot be changed without redoing
    the proof-of-work. The longest chain not only serves as proof of the sequence of
    events witnessed, but proof that it came from the largest pool of CPU power. As
    long as a majority of CPU power is controlled by nodes that are not cooperating to
    attack the network, they'll generate the longest chain and outpace attackers. The
    network itself requires minimal structure. Messages are broadcast on a best effort
    basis, and nodes can leave and rejoin the network at will, accepting the longest
    proof-of-work chain as proof of what happened while they were gone.</p>
    
    <br/>
    </div>
{% endif %}
<div class="progress">
    <!--<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ data['height'] / info['blocks'] * 100}}%">Block {{ data['height'] }} of {{ info['blocks'] }}
    </div>-->
</div>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
        <tr>
            <th>Hash</td>
            <td>{{ data['hash'] }}</td>
        </tr>
        <tr>
            <th>Confirmations</td>
            <td>{{ data['confirmations'] }}</td>
        </tr>
        <tr>
            <th>Timestamp</td>
            <td>{{ data['time'] | ctime }}</td>
        </tr>
        <tr>
            <th>Height</td>
            <td>{{ data['height'] }}</td>
        </tr>
        <tr>
            <th>Miner</td>
            <td>{{ data['miner'] }}</td>
        </tr>
        <tr>
            <th>Number of Transactions</td>
            <td>{{ data['tx']|length }}</td>
        </tr>
        <tr>
            <th>Difficulty</td>
            <td>{{ data['difficulty'] }}</td>
        </tr>
        <tr>
            <th>Merkle root</td>
            <td>{{ data['merkleroot'] }}</td>
        </tr>
        <tr>
            <th>Version</td>
            <td>0x{{ data['versionHex'] }}</td>
        </tr>
        <tr>
            <th>Bits</td>
            <td>{{ data['bits']|int(base=16) }}</td>
        </tr>
        <tr>
            <th>Weight</td>
            <td>{{ data['weight'] }}</td>
        </tr>
        <tr>
            <th>Size</td>
            <td>{{ data['size'] }} bytes</td>
        </tr>
        <tr>
            <th>Nonce</td>
            <td>{{ data['nonce'] }}</td>
        </tr>
        {% if stats %}
            {% set txn_volume = stats['total_out'] / 10**8 %}
            {% set block_reward = stats['subsidy'] / 10**8 %}
            {% set fee_reward = stats['totalfee'] / 10**8 %}
        {% else %}
            {% set txn_volume = 0 %}
            {% set block_reward = 50 %}
            {% set fee_reward = 0 %}
        {% endif %}
        <tr>
            <th>Transaction Volume</td>
            <td>{{ "%0.8f BTC" | format(txn_volume) }}</td>
        </tr>
        <tr>
            <th>Block Reward</td>
            <td>{{ "%0.8f BTC" | format(block_reward) }}</td>
        </tr>
        <tr>
            <th>Fee Reward</td>
            <td>{{ "%0.8f BTC" | format(fee_reward) }}</td>
        </tr>
        <!-- Hides row for genesis block -->
        {% if data['height'] >= 1 %}
        <tr>
            <th>Previous Block</th>
            <td><a href="/block/{{ data['height'] - 1 }}">
            {% if data['height'] == 1 %}
                Genesis Block
            {% else %}
                {{ data['height'] - 1 }}
            {% endif %}</a></td>
        </tr>
        {% endif %}
        <!-- Hides row for last block -->
        {% if data['height'] + 1 <= info['blocks'] %}
        <tr>
            <th>Next Block</th>
            <td><a href="/block/{{ data['height'] + 1 }}">{{ data['height'] + 1 }}</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>

<h4 class="shadow-sm p-3 mb-3 bg-white rounded">Block Transactions</h4>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
    {% for tx in data['tx'] %}
        <tr>
            <th class="table-primary">Index</th>
            <td class="table-primary">{{ loop.index - 1}}</td>
        </tr>
        <tr>
            <th>Hash</th>
            <td><a href="/tx/{{ tx }}">{{ tx }}</a></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    {% endfor %}    
    </tbody>
</table>

{% endblock %}