{% extends "base.html" %}

{% block main %}
<head>
    <style>
    textarea {
        resize: none;
        overflow: hidden;
        min-height: 50px;
        max-height: 100px;
    }
</style>
</head>
<script>
    
    broadcast = async (e) => {
        console.log('broadcast')
        e.preventDefault();
        const payload = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: document.getElementById('rawtx').value
        };
        try {
            const fetchResponse = await fetch(`/broadcast`, payload);
            console.dir({ fetchResponse },{depth:null})
            const data = await fetchResponse.json();
            console.log({ data })
            if (!fetchResponse.ok) {
                alert("Invalid tx")
                //                console.error("INVALID ADDRESS")
            } else {
                alert("Transaction broadcast, txid: " + data.txid)
                console.log("Transaction broadcast, txid: " + data.txid)
                const host = window.location.protocol + "//" + window.location.host
                const redirect = host+'/tx/'+data.txid
                console.log({host,redirect})
                window.location.replace(redirect)
                return data;
            }
        } catch (e) {
            return e;
        }

    }
    function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
}
</script>
<center>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-auto">
    <h2>Bitcoin Block Explorer</h2>
    <p>Using Flask and JSON-RPC</p>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-auto">
        <h2>Broadast Raw Transaction</h2>
        <form onsubmit=broadcast(event)>
            <textarea id="rawtx" rows="1" class="textarea" oninput="auto_grow(this)"></textarea>
            <button type="submit">Submit</button>
        </form>
</div>        <!-- <img src="/static/images/bitcoin_logo.svg" width="5%" length="50%"> -->
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="coinmarketcap-currency-widget" data-currencyid="3602" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
            <div class="col-sm"></div>
        </div>
    </div>
</center>

{% endblock %}