{% extends "base.html" %}

<head>
    <script type='text/javascript' src="functions.js"></script>
</head>
{% block main %}

{% block javascript %}
<script type='text/javascript'>

    getBitcoin = async (e) => {
        e.preventDefault();
        const payload = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: document.getElementById('address').value
        };
        try {
            const fetchResponse = await fetch(`/faucet`, payload);
            console.log({ fetchResponse })
            const data = await fetchResponse.json();
            console.log({ data })
            if (!fetchResponse.ok) {
                alert("Invalid address")
                //                console.error("INVALID ADDRESS")
            } else {
                alert("Transaction sent, txid: " + data.txid)
                console.log("Transaction sent, txid: " + data.txid)
                const host = window.location.protocol + "//" + window.location.host
                const redirect = host+'/tx/'+data.txid
                console.log({host,redirect})
                window.location.replace(redirect)
                return data;
            }
        } catch (e) {
            return e;
        }

    }
</script>
{% endblock %}
<center>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-auto">
        <h2>Bitcoin Block Explorer</h2>
        <p>Using Flask and JSON-RPC</p>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-auto">
        <h2>Faucet</h2>
        <form onsubmit="getBitcoin(event)"">
            <input placeholder=" Address" id="address" value="1oLyqYzGsWfYTTLVjhfmbhgAfLrQLhWh8"></input>
            <button type="submit" id="button">Submit</button>
        </form>
    </div> <!-- <img src="/static/images/bitcoin_logo.svg" width="5%" length="50%"> -->
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="coinmarketcap-currency-widget" data-currencyid="3602" data-base="USD" data-secondary=""
                data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true"
                data-stats="USD"></div>
            <div class="col-sm"></div>
        </div>
    </div>
</center>
<!--<script type='text/javascript'>
    document.getElementById("button").addEventListener("click", function(event){
        // event.preventDefault()
      });
      </script>-->
{% endblock %}