{% extends "base.html" %}

{% block main %}
<h3 class="shadow-sm p-3 mb-3 bg-white rounded">Summary</h3>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
        <tr>
            <th>Hash</th>
            <td>{{ data['txid'] }}
            </td>
        </tr>
        <tr>
            <th>Hex</th>
            <td>{{ data['hex'] }}
            </td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>BTC</td>
        </tr>
    </tbody>
</table>

<!--<h3 class="shadow-sm p-3 mb-3 bg-white rounded">Details</h3>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
        <tr>
            <th>Hash</td>
            <td>{{ data['txid'] }}</td>
        </tr>
        {% if data['time'] %}
        <tr>
            <th>Received Time</td>
            <td>{{ data['time'] | ctime }}</td>
        </tr>
        {% endif %} 
        {% if false %}
        <tr>
            <th>Size</td>
            <td>{{ data['size'] }} bytes</td>
        </tr>
        <tr>
            <th>Weight</td>
            <td>{{ data['weight'] }}</td>
        </tr>
        <tr>
            <th>Included in Block</td>
            <td><a href="/block/{{ data['height'] }}">{{ data['height'] }}</a></td>
        </tr>
        <tr>
            <th>Confirmations</td>
            <td>{{ data['confirmations'] }}</td>
        </tr>
        <tr>
            <th>Total Input</td>
            <td>### sum input</td>
        </tr>
        <tr>
            <th>Total Output</td>
            <td>### sum output</td>
        </tr>
        <tr>
            <th>Fees</td>
            <td>### sum fees</td>
        </tr>
        <tr>
            <th>Fees per byte</td>
            <td>### sum fees / bytes</td>
        </tr>
        <tr>
            <th>Fees per weight unit</td>
            <td>### sum fees / weight</td>
        </tr>
        {% endif %} 
        {% if data['price'] %}
        <tr>
            <th>Value when transacted</td>
            <td>{{ data['price'] }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>-->

<h3 class="shadow-sm p-3 mb-3 bg-white rounded">Inputs</h3>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
    {% if 'coinbase' in data['vin'][0] %}
        <tr>
            <th class="table-success">Index</th>
            <td class="table-success">0</td>
        </tr>
        <tr>
            <th>Coinbase</th>
            <td class="text-break">{{data['vin'][0]['coinbase'] }}</td>
        </tr>
    {% else %}
        {% for input in data['vin'] %}
            <tr>
                <th class="table-success">Index</th>
                <td class="table-success">{{ loop.index - 1}}</td>
            </tr>
            <tr>
                <th>Transaction Id</th>
                <td><a href="/tx/{{ input['txid'] }}">{{ input['txid'] }}</a></td>
            </tr>
            {% if input['scriptPubKey'] %}
            <tr>
                <th>Script PubKey</th>
                <td>{{ input['scriptPubKey'] }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Value</th>
                <td>{{ "%0.8f BTC" | format(input['value']) }}</td>
            </tr>
            {% if input['scriptSig'] %}
                {% if input['scriptSig']['hex'] %}
                <tr>
                    <th>Sigscript (HEX)</th>
                    <td class="text-break">{{ input['scriptSig']['hex'] }}</td>
                </tr>
                {% endif %}
                {% if input['scriptSig']['asm'] %}
                <tr>
                    <th>Sigscript (ASM)</th>
                    <td class="text-break">{{ input['scriptSig']['asm'] }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {% if input['txinwitness'] %}
            <tr>
                <th>Witness (ASM)</th>
                <td class="text-break">
                    {% for line in input['txinwitness'] %}
                        {{ line }}<br/>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}   
    {% endif %} 
    </tbody>
</table>
<h3 class="shadow-sm p-3 mb-3 bg-white rounded">Outputs</h3>
<table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <tbody>
    {% for output in data['vout'] %}
        <tr>
            <th class="table-primary">Index</th>
            <td class="table-primary">{{ loop.index - 1}}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ "%.8f"|format(output['value']) }} BTC</td>
        </tr>
        {% if output['scriptPubKey']['addresses'] %}        
        <tr>
            <th>Address</th>
            <td>{{ output['scriptPubKey']['addresses'][0] }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Pkscript (HEX)</th>
            <td class="text-break">{{ output['scriptPubKey']['hex'] }}</td>
        </tr>
        <tr>
            <th>Pkscript (ASM)</th>
            <td class="text-break">
                {% for line in output['scriptPubKey']['asm'].split() %}
                    {{ line }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Spent</th>
            <td>{{ output['spent'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    
</table>

{% endblock %}